[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1"
prettyconf = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-widget-tweaks = "*"
djangorestframework-csv = "*"
requests = "*"
dj-database-url = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pytest = "*"
isort = "*"
flake8 = "*"
autoflake = "*"

[requires]
python_version = "3.7"
