{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

<link rel="stylesheet" href="{% static 'form.css' %}">
{% block menu %}

<li class="nav-item ">
  <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="{% url 'login' %}">login</a>
  </li>
{% endblock %}

{% block content %}

<div class="container mx-auto">
    <div class="py-5 text-center">
      <h2>Create New Account</h2>

    </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form method="post"  class="container needs-validation " method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="address">Username</label>
              {% render_field form.username class="form-control" %}
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Don't Work)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Password</label>
              {% render_field form.password1 class="form-control" %}
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>

          <div class=" col-md-6 mb-3">
              <label for="description">Password confirmation</label>
              {% render_field form.password2 class="form-control" %}
            <div class="invalid-feedback">
              Please enter a valid csv file.
            </div>
          </div>

          <button class="btn btn-primary btn-lg btn-block" type="submit">Create Account</button>
        </form>

    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2017-2018 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>

{% endblock %}