{% load widget_tweaks %}
{% load static %}


{% block title %}Novo Valor{% endblock %}

{% block content %}
<div class="container">
        <div class="wrapper">

          <form class="form-wrapper">
            <fieldset class="section is-active">
              <h3>Create Measurer</h3>
              <input type="text" name="name" id="name" placeholder="Name">
              <input type="text" name="email" id="email" placeholder="Description">
              <div class="button">Create</div>
            </fieldset>
          </form>
        </div>
      </div>

{% endblock %}